.container {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 3rem;
}

.title-font {
  font-size: 1.5rem;
}

body {
  background-color: #edeae5;
}

div {
  text-align: center;
}

input[type='number'] {
  width: 40px;
}

a {
  text-decoration: none;
}

.nav-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-bar {
  background-color: #026670;
  color: #edeae5;
}

.static-bar a {
  color: #edeae5;
}

.static-bar a:hover {
  color: #afaca6;
}

.nav-inner {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.links > * {
  margin-left: 25px;
}

#cart-size {
  font-size: 1.5rem;
}

.shop-container {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.shop-div {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}

.shop-item {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fef9c7;
  -webkit-box-shadow: 0px 0px 2px 1px #beb2b2;
  box-shadow: 0px 0px 2px 1px #beb2b2;
  border-radius: 5px;
}

.shop-item * {
  color: #026670;
}

.shop-item img {
  -webkit-box-shadow: 0px 0px 3px 1px #beb2b2;
  box-shadow: 0px 0px 3px 1px#beb2b2;
  margin: 5px;
}

.shop-item button,
.product-div button,
.cart-count button {
  background-color: #026670;
  border-radius: 2px;
  color: #edeae5;
  border: none;

  margin-left: 5px;
  padding: 8px;
}

.shop-item button:hover,
.product-div button:hover,
.cart-count button:hover {
  background-color: #03838f;
}

.product-title {
  margin: 5px;
}

.price {
  margin-bottom: 5px;
}

.cart-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  background-color: #9fedd7;
  color: #026670;
  -webkit-box-shadow: 0px 0px 2px 1px #beb2b2;
  box-shadow: 0px 0px 2px 1px #beb2b2;
  border-radius: 5px;
  height: 80px;
  width: 95%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cart-grid {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cart-row {
  height: 50px;
  background-color: #fef9c7;

  -webkit-box-shadow: 0px 0px 1px 1px #beb2b2;
  box-shadow: 0px 0px 1px 1px #beb2b2;
  border-radius: 3px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 1fr 1fr;
}

.table-title {
  font-weight: bold;
  text-decoration: underline;
}

.cart-row > * {
  place-self: center;
  color: #026670;
}

.remove-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  color: rgb(88, 86, 86);
}

.remove-item:hover {
  color: black;
}

.cart-count {
  display: flex;
}

.product-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.product-div > * {
  width: 70%;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  height: 40px;

  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  padding-top: 160px;
  font-size: 2rem;
}

.about > * {
  color: #026670;
}

.about a {
  color: #023f44;
}

.about a:hover {
  color: #549b87;
}

.explainer p {
  padding: 10px;
}
